@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Raleway", sans-serif;
}

.main-navbar ul {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}

.nav-list li {
    list-style-type: none;
    margin: 10px 12px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    position: relative;
}


.nav-list a:hover{
    color: greenyellow;
}
.nav-list a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.nav-list a:hover::after {
    background-color: #C6F7D0;
}

.hero-section-1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 100vh;
    text-align: center; 
}

.title-box {
    font-weight: 100;
    font-size: 24px; 
    text-align: center; 
    margin: 0 20px; 
}

.welcome-text {
    font-size: 70px; 
    margin-left: 0;
}

.loading-text {
    font-size: 24px; 
}

.loading-text span {
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

.loading-text span:nth-child(1) { animation-delay: 2s; }
.loading-text span:nth-child(2) { animation-delay: 2.5s; }
.loading-text span:nth-child(3) { animation-delay: 3s; }
.loading-text span:nth-child(4) { animation-delay: 3.5s; }
.loading-text span:nth-child(5) { animation-delay: 4s; }
.loading-text span:nth-child(6) { animation-delay: 4.5s; }
.loading-text span:nth-child(7) { animation-delay: 5s; }
.loading-text span:nth-child(8) { animation-delay: 5.5s; }
.loading-text span:nth-child(9) { animation-delay: 6s; }
.loading-text span:nth-child(10) { animation-delay: 6.5s; }
.loading-text span:nth-child(11) { animation-delay: 7s; }
.loading-text span:nth-child(12) { animation-delay: 7.5s; }
.loading-text span:nth-child(13) { animation-delay: 8s; }
.loading-text span:nth-child(14) { animation-delay: 8.5s; }
.loading-text span:nth-child(15) { animation-delay: 9s; }
.loading-text span:nth-child(16) { animation-delay: 9.5s; }
.loading-text span:nth-child(17) { animation-delay: 10s; }
.loading-text span:nth-child(18) { animation-delay: 10.5s; }
.loading-text span:nth-child(19) { animation-delay: 11s; }

.hero-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.my-intro {
    background-color: white;
    width: 300px;
    max-width: 100%;
    height: auto; 
    color: grey;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.my-image {
    background-image: url("./image/WhatsApp Image 2024-06-18 at 7.34.56 PM.jpeg");
    height: 220px;
    width: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1.5px solid;
    animation: border-color-change 8s infinite;
    margin-bottom: 10px;
}

.my-image:hover {
    opacity: 0.8;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.card {
  width: 17rem;
  height: 12rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity .2s ease-out;
}

.card h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset .3s .3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.card p, .card a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity .3s ease-out;
}

.card p {
  inset: auto auto 80px 30px;
  font-size: small;
}

.card a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset .3s ease-out;
}

.card:hover p, .card:hover a {
  opacity: 1;
  transition: opacity .5s .1s ease-in;
}

.card:hover img {
  transition: opacity .3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.topSkills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-tag {
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    font-weight: bold;
    animation: text-flicker 5s linear infinite;
  }
  
  @keyframes text-flicker {
    0%   { opacity: 1; }
    10%  { opacity: 0.1; }
    20%  { opacity: 1; }
    30%  { opacity: 0.1; }
    40%  { opacity: 1; }
    50%  { opacity: 0.1; }
    60%  { opacity: 1; }
    70%  { opacity: 0.1; }
    80%  { opacity: 1; }
    90%  { opacity: 0.1; }
    100% { opacity: 1; }
  }
 
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes border-color-change {
    0% {
        border-color: #33CC33;
    }
    33% {
        border-color: #66CCCC;
    }
    66% {
        border-color: #FF6666;
    }
    100% {
        border-color: #33CC33;
    }
}

@keyframes wave-animation {
    0%, 100% { transform: rotate(0deg); }
    20%, 60% { transform: rotate(-20deg); }
    40%, 80% { transform: rotate(10deg); }
}

.emoji {
    display: inline-block;
    animation: wave-animation 2s infinite;
    transform-origin: 70% 70%;
    font-size: 40px;
}


.project-heading{
  font-size: 50px;
  text-align: center;
}

.projects{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project{
  width: 35%;
  
  
}



.animate{
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}

.higlighted-text{
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
    margin-left: 2em;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 65vmin;
	margin: 2rem auto;
	border: 8px solid;
	border-image: linear-gradient(
			-50deg,
			rgb(244, 247, 244),
			#e9eee9,
			rgb(197, 205, 197),
			rgb(255, 255, 255),
			lightgreen,
			#00e600,
			green
		)
		1;
	transition: 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem 0.75rem;
	background: #9ee49efe;
	transition: 0.4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: 0.5rem 0 0 0.5rem;
	border: 3px solid;
	border-image: linear-gradient(
			to bottom,
			#aea724 5%,
			forestgreen 35% 65%,
			#aea724 95%
		)
		0 0 0 100%;
	transition: 0.3s ease-in-out 0.2s;
	z-index: 1;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-size: cover;
	transition: 0.3s ease-in-out;
  background-position: center;
	
}

.inset {
	max-width: 50%;
	margin: 0.25em 1em 1em 2em;
	border-radius: 0.25em;
	float: left;
}

.dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: 0.3s ease-in-out 0.3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: 0.3s ease-in-out 0.3s;
}

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
	overflow-y: scroll;
}

.wrap:hover .overlay {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: 0.2s;
	transform: translateX(60vmin);
}
.wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
}


.animate {
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	animation-fill-mode: backwards;
}

.pop {
	animation-name: pop;
}
@keyframes pop {
	0% {
		opacity: 0;
		transform: scale(0.5, 0.5);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1);
	}
}


.slide {
	animation-name: slide;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translate(4em, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}


.slide-left {
	animation-name: slide-left;
}
@keyframes slide-left {
	0% {
		opacity: 0;
		transform: translate(-40px, 0);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.slide-up {
	animation-name: slide-up;
}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
	animation-delay: 0.3s;
}
.delay-2 {
	animation-delay: 0.6s;
}
.delay-3 {
	animation-delay: 0.9s;
}
.delay-4 {
	animation-delay: 1.2s;
}
.delay-5 {
	animation-delay: 1.5s;
}
.delay-6 {
	animation-delay: 1.8s;
}
.delay-7 {
	animation-delay: 2.1s;
}
.delay-8 {
	animation-delay: 2.4s;
}


.image-content-1{
  background-image: url("./image/Proj3.png");
}

.image-content-2{
  background-image: url("./image/to-do.png");
}

.image-content-3{
  background-image:url("./image/tradoverse.png") ;
}

.image-content-4{
  background-image:url("./image/PortfolioProj.png") ;
}


.connecting-session{
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  
}

.connecting-paragraph{
    font-size: 35px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 300px;
  color: grey;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid greenyellow;
  border-radius: 10px;
}

input,textarea{
  width: 250px;
  padding: 3px;
  color: gray;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
  
}

input,textarea:focus{
  outline: 1px solid greenyellow;
}

textarea{
  margin: 5px 0;
  outline: 1px solid greenyellow;
}

.submit-button{
  width: 80px;
  color: gray;
  background: linear-gradient(135deg, #a0e54e, #61c419);
  border:none;
  border-radius: 15px;
  height: 30px;
}

.submit-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  height: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}



.github-icon {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  animation: rotate 2s linear infinite;
}


@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
